<template>
  <div class="<%= lowerName %>">
    <p>This is the <strong>{{ message}}</strong></p>
  </div>
</template>

<script>
export default {
  name: "<%= name %>",
  props: {
    message: "<%= name %>"
  },
  created() {
    // 进行axios请求
  },
  mounted() {
    // 操作DOM
  },
  updated() {
    // 数据改变
  },
  data() {
    return {

    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.<%= lowerName %> {

}
</style>
